<table>
  <thead>
    <tr class="usuarios">
      <th></th>
      <th class="statM">Nome</th>
      <th class="stat">Qualificação</th>
      <th class="stat">Trabalho em equipe</th>
      <th class="stat">Produtividade</th>
      <th class="stat">Disciplina</th>
      <th class="statM">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr class="usuarios">
      <td class="foto"></td>
      <td class="nome">{{nome}}Sanji</td>
      <td class="stats"><p>100%</p></td>
      <td class="stats"><p>100%</p></td>
      <td class="stats"><p>100%</p></td>
      <td class="stats"><p>100%</p></td>
      <td class="stats"><p>100%</p></td>
    </tr>
  {{#each pessoas}}
    <tr class="usuarios">
      <td class="foto"></td>
      <td class="nome">{{Nome}}</td>
      <td class="stats"><p>{{Qualificacao}}%</p></td>
      <td class="stats"><p>{{Tequi}}%</p></td>
      <td class="stats"><p>{{Produtividade}}%</p></td>
      <td class="stats"><p>{{DisciplinaTotal}}%</p></td>
      <td class="stats"><p>{{Total}}%</p></td>
    </tr>
  {{/each}}
  </tbody>
</table>